<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-category"></li>
        <li class="nav-item">
            <a class="nav-link" href="../index">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Панель</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <i class="menu-icon typcn typcn-coffee"></i>
                <span class="menu-title">Настройки</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="../user">Пользователи</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../office">Офис</a>
                    </li>
                </ul>
            </div>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="../report">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Отчет</span>
            </a>
        </li>
    </ul>
</nav>